.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 9px 30px;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  background-color: $primary-red;
  border-color: $primary-red;
  border-radius: 32px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: $soft-white;
}
.btn-primary:hover {
  color: $soft-white;
  background-color: $primary-hover;
  border-color: $primary-hover;
}
.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: $soft-white;
  background-color: $primary-hover;
  border-color: $primary-hover;
  box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}
.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
  color: $soft-white;
  background-color: $primary-hover;
  border-color: $primary-hover;
}

.btn-primary:disabled, .btn-primary.disabled {
  color: $soft-white;
  background-color: $primary-red;
  border-color: $primary-red;
}

.btn-secondary {
  background-color: transparent;
  border-color: $primary-white;
  border-radius: 32px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: $soft-white;
}
.btn-secondary:hover {
  color: $primary-black;
  background-color: $primary-green;
  border-color: $primary-white;
}
.btn-check:focus + .btn-secondary, .btn-secondary:focus {
  color: $primary-black;
  background-color: $primary-green;
  border-color: $primary-white;
  box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}
.btn-check:checked + .btn-secondary, .btn-check:active + .btn-secondary, .btn-secondary:active, .btn-secondary.active, .show > .btn-secondary.dropdown-toggle {
  color: $primary-black;
  background-color: $primary-green;
  border-color: $primary-white;
}

.btn-secondary:disabled, .btn-secondary.disabled {
  color: $primary-black;
  background-color: $primary-green;
  border-color: $primary-white;
}

