.card-movie {
  cursor: pointer;

  .wrapper-overview {
    position: relative;
    overflow: hidden;

    &:hover {
      .hover-overview {
        transform: translateY(0);
      }
    }

    .overview {
      position: relative;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }

      .vote-average {
        background: rgba(30, 35, 43, 0.8);
        padding: 10px;
        font-family: 'montserrat-bold';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #E5E5E5;
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    .hover-overview {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      transform: translateY(101%);
      transition: transform 0.3s ease-in;
      width: 100%;
      background: rgba(0, 0, 0, 0.8);
      padding: 20px;
      display: flex;
      align-items: center;

      .wrapper-hover {
        margin: auto;

        .icon-star {
          width: 32px;
          height: 32px;
        }

        span {
          font-family: 'montserrat-semibold';
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 29px;
          color: $primary-white;
        }

        h4 {
          font-family: 'montserrat-semibold';
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 22px;
          color: $soft-white;
          margin: 30px auto;
          text-align: center;
        }

        button {
          display: block;
          text-align: center;
          margin: 10px auto;
        }
      }
    }

    p {
      font-family: 'montserrat-semibold';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: $soft-white;
      margin-bottom: 5px;
    }

    span {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: $grey-footer;
    }
  }
}