.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 18px;

  &:hover {
    .dropdown-content {
      display: block;
    }

    .dropbtn {
      background-color: $card-grey;
    }
  }

  .dropbtn {
    background: rgba(224, 224, 224, 0.13);
    border-radius: 4px;
    color: $soft-white;
    padding: 10px 16px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-family: 'montserrat-regular';
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background: #111419;
    border-radius: 4px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

    .item-sorting {
      color: $soft-white;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      padding: 9px 16px;
      display: block;
      text-align: left;
      cursor: pointer;

      &:hover {
        background-color: $card-grey;
      }
    }
  }
}
