.wrapper-footer {
  background: rgba(0, 0, 0, 0.29);
  padding: 45px 0;

  .col-4 {
    align-self: center;

    span {
      font-family: 'montserrat-regular';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      color: $grey-footer;
      display: block;
      text-align: center;
    }

    img {
      display: block;
      margin: auto;
      min-width: 25%;
      height: auto;
    }
  }
}
