.wrapper-movie-list {
  margin-bottom: 86px;
  position: relative;

  .bg-top-movie-list {
    background: $card-grey;
    position: absolute;
    top: 0;
    padding-left: 20px;
    height: 333px;
    width: 100%;
  }

  .badge-line {
    width: 112px;
    height: 6px;
    background: $primary-orange;
  }

  h4 {
    font-family: 'montserrat-semibold';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: $soft-white;
    margin-top: 10px;
  }

  .wrapper-sorting {
    background: linear-gradient(180deg, #0E1723 0%, rgba(30, 35, 42, 0) 100%);
    border-radius: 8px;

    p {
      font-family: 'montserrat-semibold';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: $soft-white;
      padding: 18px;
      margin: 0 auto;
    }

    hr {
      border: 1px solid rgba(255, 255, 255, 0.07);
      margin: 0;
    }

    .genre-list {
      padding: 18px;

      label {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $primary-white;
      }

      input {
        background: rgba(255, 255, 255, 0.2);
        border: 1px solid $card-grey;
        box-sizing: border-box;
        border-radius: 4px;
      }
    }
  }

  .my-movies {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $soft-white;
  }

  .badge-main {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 32px;
    padding: 6px 19px;

    strong {
      font-family: 'montserrat-semibold';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: $soft-white;
    }

    span {
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      color: $soft-white;
    }
  }
}