.topnav {
  overflow: hidden;
  background: $card-grey;

  a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    font-family: 'montserrat-semibold';
    color: $soft-white;

    .active {
      background-color: #04AA6D;
      color: white;
    }

    &:hover {
      background-color: #ddd;
      color: black;
    }
  }

  input {
    background: $bg-input;
    border: 1px solid $bg-input;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    color: $soft-white;
  }
}

@media screen and (max-width: 600px) {
  .topnav {
    a {

      .icon {
        float: right;
        display: block;
      }

      &:not(:first-child) {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .topnav {
    .responsive {
      position: relative;

      .icon {
        position: absolute;
        right: 0;
        top: 0;
      }

      a {
        float: none;
        display: block;
        text-align: left;
      }
    }
  }
}
