.wrapper-slider {
  margin: 54px 0;

  .img-cover {
    min-width: 243px;
    width: 100%;
    height: auto;
  }

  .card-slider {
    background-color: $primary-black;
    min-width: 250px;
    height: 300px;
    padding: 25px 24px;

    .icon-star {
      min-width: 16px;
      height: auto;
    }

    h3 {
      font-size: 28px;
      color: $primary-white;
      line-height: 34px;
      margin: 5px 0;
    }

    .section-type {
      p {
        font-size: 16px;
        color: $primary-white;
        line-height: 21px;
        font-weight: 400;
        margin: 5px 0;
      }

      img {
        margin: auto 10px;
        min-width: 10px;
        height: auto;
      }
    }

    .description {
      font-size: 12px;
      color: $primary-white;
      line-height: 18px;
      word-wrap: break-word;
      display: -webkit-box;
      max-width: 100%;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  .slick-slide {
    margin: 0 20px;
    opacity: 0.5;
  }

  .slick-current {
    opacity: 1 !important;
  }

  .slick-arrow {
    display: none !important;
  }

  .slick-dots {
    margin-top: 50px;
    display: flex !important;
    justify-content: center;
    list-style-type: none;

    li {
      button {
        background: rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        color: transparent;
        border: 1px solid transparent;
        margin: 0 12px;
        width: 10px;
        height: 13px;
      }
    }

    .slick-active {
      button {
        background: #E74C3C;
        border: 1px solid transparent;
      }

      &:after {
        content: '';
        background: #E74C3C;
        width: 100%;
      }
    }
  }
}
