$bg-color       : #1E232B;
$card-hover     : rgba(0, 0, 0, 0.8);
$soft-grey      : #F9F9F9;
$soft-white     : #E5E5E5;
$card-grey      : rgba(255, 255, 255, 0.05);
$card-shadow    : 0px 4px 4px rgba(0, 0, 0, 0.1);
$primary-red    : #FF0000;
$primary-hover  : #ab0100;
$primary-green  : #A9FFC6;
$primary-black  : #000000;
$primary-orange : #E74C3C;
$dark-green     : #155129;
$primary-white  : #FFFFFF;
$bg-input       : rgba(0, 0, 0, 0.13);
$grey-footer    : #929292;
